<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931426869474-2fmpfou9ju31kovrg5v1rn5nfb9i7k8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931426869474-2fmpfou9ju31kovrg5v1rn5nfb9i7k8a</string>
	<key>API_KEY</key>
	<string>AIzaSyBb51nlGlXrRw7dP3j-T5o4EZL_dTHZ-Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>931426869474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.chatterbox</string>
	<key>PROJECT_ID</key>
	<string>chatter-box-bf3f0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-box-bf3f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931426869474:ios:3edba966049421393c3ebb</string>
</dict>
</plist>